API_PORT=3000

# DB config
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_DATABASE=exercise_log

DOCKER_NETWORK_FRONTEND=exercise-log-js-frontend # expose to your reverse proxy/etc
DOCKER_NETWORK_BACKEND=exercise-log-js-backend # only used within this container
